# Работа с Excel

Материалы:
* Макрушин С.В. Лекция 7: Работа с Excel
* https://docs.xlwings.org/en/stable/quickstart.html
* https://nbviewer.jupyter.org/github/pybokeh/jupyter_notebooks/blob/master/xlwings/Excel_Formatting.ipynb#search_text

In [3]:
import pandas as pd
import xlwings as xw
import csv
import numpy as np
import openpyxl.styles

## Задачи для совместного разбора

1. На листе "Рецептура" файла `себестоимостьА_в1.xlsx` для области "Пшеничный хлеб" рассчитать себестоимость всех видов продукции.

In [4]:
wb=xw.Book('себестоимостьА_в1.xlsx')
sht=wb.sheets['Рецептура']
t1=sht.range('рцп_пшеничный_хлеб').value
res=[]
n=0
for i in range(3, 7): 
    for j in range(5, 14):
        if t1[i][j] is not None:
            n+=float(t1[i][j])*float(t1[10][j])
    res.append(n)
    n=0
    print(f'Себестоимость {t1[i][1]} - {res[i-3]:0.2f}')

Себестоимость Хлеб Венгерский - 21.48
Себестоимость Хлеб "Барбари" - 16.52
Себестоимость Багет парижский - 17.42
Себестоимость Чиабатта - 18.09

2. Результаты расчетов 1.1 сохранить в отдельном столбце области "Пшеничный хлеб"

In [5]:
sht.range('P5').value='Cебестоимость'
sht.range('P7:P10').options(transpose=True).value=res

3. Приблизить форматирование столбца, добавленного в задаче 2 к оформлению всей области.

In [6]:
for i in wb.sheets:
    i.autofit(axis='columns')
sht.range('P5').font.bold = True

## Лабораторная работа 7.1

1. Загрузите данные из файлов `reviews_sample.csv` (__ЛР2__) и `recipes_sample.csv` (__ЛР5__) в виде `pd.DataFrame`. Обратите внимание на корректное считывание столбца(ов) с индексами. Оставьте в таблице с рецептами следующие столбцы: `id`, `name`, `minutes`, `submitted`, `description`, `n_ingredients`

In [7]:
reviews = pd.read_csv('reviews_sample.csv')
recipes = pd.read_csv('recipes_sample.csv')[['id', 'name', 'minutes', 'submitted', 'description', 'n_ingredients']]

reviews

,Unnamed: 0,user_id,recipe_id,date,rating,review
0,370476,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...
1,624300,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...
2,187037,400708,252013,2008-01-10,4,"Very nice breakfast HH, easy to make and yummy..."
3,706134,2001852463,404716,2017-12-11,5,These are a favorite for the holidays and so e...
4,312179,95810,129396,2008-03-14,5,Excellent soup! The tomato flavor is just gre...
...,...,...,...,...,...,...
126691,1013457,1270706,335534,2009-05-17,4,This recipe was great! I made it last night. I...
126692,158736,2282344,8701,2012-06-03,0,This recipe is outstanding. I followed the rec...
126693,1059834,689540,222001,2008-04-08,5,"Well, we were not a crowd but it was a fabulou..."
126694,453285,2000242659,354979,2015-06-02,5,I have been a steak eater and dedicated BBQ gr...
126695,691207,463435,415599,2010-09-30,5,Wonderful and simple to prepare seasoning blen...

2. Случайным образом выберите 5% строк из каждой таблицы и сохраните две таблицы на разные листы в один файл `recipes.xlsx`. Дайте листам названия "Рецепты" и "Отзывы", соответствующие содержанию таблиц.

In [8]:
s1 = reviews.sample(int(reviews.shape[0] * 0.05))
s1

,Unnamed: 0,user_id,recipe_id,date,rating,review
2906,433023,222564,495275,2014-12-03,5,Super yummy! There&#039;s a lot going on in th...
43415,180324,424680,256675,2008-09-17,5,Instead of the ice & sliced pineapple I used f...
60818,1051143,26234,25094,2002-12-21,5,my son asked for chicken parmigiana for his bi...
58985,246576,452088,115110,2008-02-01,5,"Yum!! this spinach pie is so delicious, even m..."
67294,933197,350404,62814,2006-09-13,4,"First time ""chef""...followed the directions......"
...,...,...,...,...,...,...
75055,563968,424680,176060,2009-05-14,5,"ABSOLUTELY LOVED THIS SHRIMP, & the sauce is g..."
84248,129406,55221,101117,2010-05-25,4,A nice summer cocktail with a good mix of frui...
81185,11523,62562,301413,2008-06-18,5,Very delicious bread. Nice texture. We really ...
93284,555703,320625,34398,2009-09-20,4,I found macadamias in my pantry and figured I ...
101254,282833,202661,332822,2008-12-08,5,"Exactly the recipe I wanted. Simple, tradition..."

In [9]:
s2 = recipes.sample(int(recipes.shape[0] * 0.05))
s2

,id,name,minutes,submitted,description,n_ingredients
9572,186947,double chocolate delight muffins,45,2006-09-19,the title says it all. very moist and full of ...,11.0
5188,95393,cheeseburger noodle casserole,15,2004-07-09,this recipe was an experiment. i didn't have a...,9.0
1261,471259,asian tuna and cabbage salad,15,2012-01-04,from the complete idiot’s guide to glycemic in...,NaN
26635,470576,sweet bacon wrapped hot dogs,35,2011-12-26,a coworker makes these for carry ins and they ...,NaN
4536,43695,candied grapefruit peel,55,2002-10-22,you can subsitute or add orange peel to this r...,NaN
...,...,...,...,...,...,...
22717,62908,roasted brined pork tenderloin rolled in toast...,740,2003-05-22,recipe from mark miller,NaN
22256,364299,raw vegetable dip bernice s that darn dip,30,2009-04-03,i got this recipe from a co-worker and good fr...,NaN
21729,143922,pumpkin pie dessert,190,2005-11-07,another version of pumpkin pie but this one su...,NaN
7094,327544,cinnamon pumpkin custard,65,2008-09-27,this creamy custard is the ultimate fall desse...,7.0
13038,374144,grilled sweet potato and russet potato,25,2009-05-25,forget thanksgiving and enjoy these summer gri...,NaN

In [10]:
with pd.ExcelWriter('recipes.xlsx') as writer:
    s1.to_excel(writer, 'Отзывы')
    s2.to_excel(writer, 'Рецепты')

3. Используя `xlwings`, добавьте на лист `Рецепты` столбец `seconds_assign`, показывающий время выполнения рецепта в секундах. Выполните задание при помощи присваивания массива значений диапазону ячеек.

In [11]:
wb = xw.Book('recipes.xlsx')
sht = wb.sheets['Рецепты']
sht.range('H1').value = 'seconds_assign'
sht.range('H2').options(transpose = True).value = [i * 60 for i in s2['minutes']]

4. Используя `xlwings`, добавьте на лист `Рецепты` столбец `seconds_formula`, показывающий время выполнения рецепта в секундах. Выполните задание при помощи формул Excel.

In [12]:
sht.range('I1').value = 'seconds_formula'
fml = sht.range('I2').formula = '=D2*60'
sht.range('I2:I1501').formula = fml

5. Сделайте названия всех добавленных столбцов полужирными и выровняйте по центру ячейки.

In [13]:
recipes_sh = wb.sheets['Рецепты']
recipes_sh.range('H1:I1').api.Font.Bold = True
recipes_sh.range('H1:I1').api.HorizontalAlignment = xw.constants.HAlign.xlHAlignCenter

6. Раскрасьте ячейки столбца `minutes` в соответствии со следующим правилом: если рецепт выполняется быстрее 5 минут, то цвет - зеленый; от 5 до 10 минут - жёлтый; и больше 10 - красный.

In [ ]:
for i in range(2, 1502):
    if sht.range(f'D{i}').value < 5:
        sht.range(f'D{i}').color = (0, 128, 0)
    elif 5 <= sht.range(f'D{i}').value <= 10:
        sht.range(f'D{i}').color = (255, 255, 0)
    else:
        sht.range(f'D{i}').color = (255, 0, 0)

7. Добавьте на лист `Рецепты`  столбец `n_reviews`, содержащий кол-во отзывов для этого рецепта. Выполните задание при помощи формул Excel.

In [ ]:
sht.range('J1').value = 'n_reviews'
fml = sht.range('J2').formula = '=COUNTIF(Отзывы!D1:D6335, B2)'
sht.range('J2:J1501').formula = fml

## Лабораторная работа 7.2

8. Напишите функцию `validate()`, которая проверяет соответствие всех строк из листа `Отзывы` следующим правилам:
    * Рейтинг - это число от 0 до 5 включительно
    * Соответствующий рецепт имеется на листе `Рецепты`
    
В случае несоответствия этим правилам, выделите строку красным цветом

In [ ]:
def validate():
    wb = xw.Book('recipes.xlsx')
    sht = wb.sheets['Отзывы']
    for i in range(2, 6336):
        if sht.range(f'F{i}').value < 0 or sht.range(f'F{i}').value > 5 or sht.range(f'D{i}').value not in wb.sheets['Рецепты'].range('B2:B1501').value:
            sht.range(f'A{i}:Z{i}').color = (255, 0, 0)
validate()

9. В файле `recipes_model.csv` находится модель данных предметной области "рецепты". При помощи пакета `csv` считайте эти данные. При помощи пакета `xlwings` запишите данные на лист `Модель` книги `recipes_model.xlsx`, начиная с ячейки `A2`, не используя циклы. Сделайте скриншот текущего состояния листа и прикрепите в ячейку ноутбука.

In [ ]:
import csv
with open('recipes_model.csv','r') as f:
    rec_mod = csv.reader(f, delimiter = '\t')
    rec_data = list(rec_mod)
model = xw.Book()
model_sheet = model.sheets.add('Модель')
model_sheet.range('A2').value = rec_data
model.save('recipes_model1.xlsx')
model.close()

10. При помощи пакета `xlwings` добавьте в столбец J формулу для описания столбца на языке SQL. Формула должна реализовывать следующую логику:

    1\. в начале строки идут значения из столбцов В и C (значение столбца С приведено к верхнему регистру), разделенные пробелом
    
    2\. далее идут слова на основе столбца "Ключ"
        2.1 если в столбце "Ключ" указано значение "PK", то дальше через пробел идет ключевое слово "PRIMARY KEY"
        2.2 если в столбце "Ключ" указано значение "FK", то дальше через пробел идет ключевое слово "REFERENCES", затем значения столбцов H и I в формате "название_таблицы(название_столбца)"
        
    3\. если в столбце "Обязательно к заполнению" указано значение "Y" и в столбце "Ключ" указано не "PK", то дальше через пробел идет ключевое слово "NOT NULL".

Заполните этой формулой необходимое количество строк, используя "протягивание". Количество строк для протягивания определите на основе данных.

Сделайте скриншот текущего состояния листа и прикрепите в ячейку ноутбука.

In [ ]:
w2=xw.Book('recipes_model.xlxs')
sheet=w2.sheets['Модель']

n_rows=sheet.range('A2').current_region.last_cell.row-1

for x in range (2, n_rows+2):
    b=sheet.range(f'B{x}').value
    c=sheet.range(f'C{x}').value.upper()
    h=sheet.range(f'H{x}').value
    i=sheet.range(f'I{x}').value
    
    j=f'{b} {c}'
    key=sheet.range(f'F{x}').value
    if key=='PK':
        j+=' PRIMARY KEY'
    elif key=='FK':
        j+=f' REFERENCES {h}({i})'
        
    req=sheet.range(f'D{x}').value
    if req=='Y' and key!='PK':
        j+=' NOT NULL'
    
    sheet.range(f'J{x}').value=j
    
w2.save('recipes_model.csv')
w2.close()

11. При помощи пакета `xlwings` измените стилизацию листа `Модель`.
* для заголовков добавьте заливку цвета `00ccff`
* примените автоподбор ширины столбца;
* сделайте шрифт заголовков полужирным;
* добавьте таблице автофильтр.

Сделайте скриншот текущего состояния листа и прикрепите в ячейку ноутбука.

In [ ]:
w2=xw.Book('recipes_model.xlxs')
sheet=w2.sheets['Модель']
sheet.range('A2:J2').color='#00ccff'
sheet.autofit('c')
sheet.range('A2:J2').api.Font.Bold=True
sheet.show_autofilter=True

12. Посчитайте количество атрибутов для каждой из сущностей. Создайте лист `Статистика` и запишите в него результат группировки, начиная с ячейки "А1". Визуализируйте полученный результат при помощи столбчатой диаграммы. Сохраните полученную визуализацию на лист `Статистика`, начиная с ячейки "E2".  Сделайте скриншот листа `Статистика` и прикрепите в ячейку ноутбука.

* Вы можете воспользоваться методами для визуализации, которые поставляются вместе с объектами `pandas` (см. https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.plot)

In [ ]:
st=w2.sheets['Статистика']
model=sheet.range('A2:B18').value
table=pd.DataFrame(model[1:], columns=['Сущность', 'Атрибут']).groupby('Сущность').count()
st.range('A1').value=table
d=table.plot.bar()